.modal-backdrop{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    width: 100%;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}